{% extends "base.html" %}
{% block title %}Вы вышли из системы{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header" align="center"> Вы вышли из своей учётной
                записи
            </div>
            <div class="card-body">
                <p align="center"> Ждём вас снова!</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}