{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}

<h1> Последние обновления на сайте<h1>

{% for post in page %}
  <h3>
    <a href="/{{post.author}}/" role="button"><small><strong class="d-block text-gray-dark">@{{post.author}}</strong></small></a>
    Автор: {{ post.author.get_full_name }},
    Дата публикации: {{ post.pub_date|date:"d M Y" }}
  </h3>
  <p>{{ post.text|linebreaksbr }}</p>
{% if not forloop.last %}
<hr>{% endif %}
{% endfor %}

{% include "includes/paginator.html" %}
{% endblock %}
